@font-face {
	font-family: "Game Over";
	src: url("../font/game_over.ttf");
}

#board {
    -fx-background-image: url("../img/board.png");
    -fx-background-repeat: stretch;
}

#gameOverRoot {
	-fx-background-color: black;
}

.deadCount {
	-fx-font-family: "Game Over";
	-fx-font-size: 40px;
}

.deadCount.WHITE {
	-fx-fill: black;
}

.deadCount.BLACK {
	-fx-fill: white;
}

.message {
    -fx-font-family: "Game Over";
    -fx-font-size: 125px;
    -fx-fill: white;
    -fx-opacity: 1;
    -fx-text-alignment: center;
}

.gameOver {
    -fx-font-size: 250px;
    -fx-font-family: "Game Over";
    -fx-fill: white;
    -fx-opacity: 1;	
    -fx-text-alignment: center;
}

.number {
	-fx-font-size: 125px;
    -fx-font-family: "Game Over";
    -fx-fill: white;
}

/* MENU */

#menu {
    -fx-background-image: url("../img/menu_background.png");
    -fx-background-repeat: stretch;
    -fx-alignment: center;
}

.menuPanel {
	-fx-alignment: center;
	-fx-border-color: white;
	-fx-border-width: 5px;
}

.menuBox {
	-fx-alignment: center;
}

.menuElement {
	-fx-font-size: 125px;
    -fx-font-family: "Game Over";
    -fx-fill: white;
}

.menuElement.selected {
	-fx-fill: gray;
}